* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
  margin: 0px;
  height: 100vh;
  font-family: "Montserrat", "Noto Sans TC", sans-serif;
  padding-bottom: 70px;
  cursor: none;
}

// 作品內頁
.abouttop {
  button {
    background-color: #fff;
    font-size: 1em;
    letter-spacing: 0.05em;
    color: #aaa;
    border-style: none;
    border-radius: 0em;
    padding: 0.5rem 1.3rem;
    cursor: pointer;
  }
  button:hover {
    color: #000;
  }
}

// 首頁影片
.frontpage {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  color: #000;
  .titles,
  button {
    margin-left: auto;
  }
  .titles {
    margin-top: 20vh;
    color: #fff;
    .fs-4 {
      letter-spacing: 0.02em;
    }
  }
  video {
    z-index: -999;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  button {
    margin-top: 2vh;
    background: transparent;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    height: 3em;
    border-radius: 2em;
    color: #fff;
    padding: 0.75rem 1.8rem;
    cursor: pointer;
    border: 2px solid #fff;
  }

  button:hover {
    border: none;
    background-color: #fff;
    color: #000;
  }
  button:active {
    border: none;
    background-color: #ec5200;
    color: #fff;
  }
}

// 選單
header {
  nav {
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
    backdrop-filter: blur(7px) saturate(125%);
    ul {
      width: 50vw;
    }
  }
  .contact {
    img {
      height: 3vh;
      margin: 0 0.7em;
    }
  }
}

#navoverride {
  .nav-item {
    a:active {
      color: #fff !important;
      background-color: #000 !important;
    }
  }
}

// change navbar background on collapse

@media (max-width: 992px) {
  nav.navbar {
    background: #000;
  }
}

// 縮圖
.gallery {
  .line1 {
    margin-top: 2vh;
  }
  .illus {
    border-radius: 0.2vw;
    margin-top: 2vh;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    opacity: 0.5;
    transition: all 0.5s;
  }
  .illus:hover {
    opacity: 1;
    transform: scale(1.06);
  }
}

// 自我介紹
.aboutpage,
.gallery {
  min-height: 100vh;
  z-index: -999;
  padding-bottom: 10vh;
}

.about {
  margin-top: 5vh;
}

// 游標
.cursor {
  width: 3em;
  height: 3em;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
}

.link-grow {
  transform: scale(2);
  background: #ec5200;
  border: none;
}

svg {
  fill: #fff;
}

// 換頁
.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 1;
}

html.is-leaving .transition-fade {
  opacity: 0;
}

// dropdown

.works .work .js-description {
  display: none;
}

.works .js-dropdown {
  background-clip: padding-box;
  border: 0 solid transparent;
  box-sizing: border-box;
  float: left;
  padding: 0;
  margin: 2em 0 0 0;
  width: 100%;
  display: table;
  border-color: transparent;
  border-image: none;
  border-style: solid;
}

.works .js-dropdown:before,
.works .js-dropdown:after {
  clear: both;
  content: "";
  display: table;
}

.works .js-dropdown .js-dropdown-content {
  background: none repeat scroll 0 0 #fff;
  border: 3px solid #fff;
  border-radius: 0.5em;
  color: #000;
  position: relative;
  width: 100%;
  padding: 1em;
}

.works .js-dropdown .js-dropdown-content .js-dropdown-arrow {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -55px;
  border: 3em solid transparent;
  border-bottom-color: #fff;
  pointer-events: none;
  transition: left 0.3s;
}
// .dropdown-menu {
//   width: 100%;
// }

// .btn {
//   width: 100%;
// }

video {
  max-width: 100%;
  height: auto;
}

// work BGs
.future {
  background-image: url("../images/works/futureLab_BG.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dedicated {
  background-image: url("../images/works/03-BG.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.magister {
  background-image: url("../images/works/Magister-BG.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.smol {
  min-height: 100%;
  width: auto;
}

@import "./scss/bootstrap.scss";
@import "./scss/_variables.scss";
