* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
  margin: 0px;
  height: 100vh;
  font-family: "Montserrat", "Noto Sans TC", sans-serif;
  padding-bottom: 70px;
}
// about
.aboutpage,
.gallery {
  min-height: 100%;
  padding-bottom: 10vh;
}
// 作品內頁
.abouttop {
  button {
    background-color: #fff;
    font-size: 1em;
    letter-spacing: 0.05em;
    color: #aaa;
    border-style: none;
    border-radius: 0em;
    padding: 0.5rem 1.3rem;
    cursor: pointer;
  }
  button:hover {
    color: #000;
  }
}

// 首頁影片
.frontpage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #000;
  .titles,
  button {
    margin-left: auto;
  }
  .titles {
    margin-top: 20vh;
    color: #fff;
    .fs-4 {
      letter-spacing: 0.1em;
    }
  }
  video {
    z-index: -999;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  button {
    margin-top: 2vh;
    background-color: #fff;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    color: #000;
    border-style: none;
    border-radius: 0em;
    padding: 0.75rem 1.8rem;
    cursor: pointer;
  }
  button:hover {
    background-color: #fff;
    color: #ec5200;
  }
  button:active {
    background-color: #ec5200;
    color: #fff;
  }
}

// 選單
header {
  nav {
    ul {
      width: 50vw;
    }
  }
  .contact {
    img {
      height: 3vh;
      margin: 0 0.7em;
    }
  }
}

#navoverride {
  .nav-item {
    a:active {
      color: #fff !important;
      background-color: #000 !important;
    }
  }
}

// 縮圖
.gallery {
  .line1 {
    margin-top: 2vh;
  }
  .illus {
    border-radius: 0.2vw;
    margin-top: 2vh;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    opacity: 0.5;
    transition: all 0.5s;
  }
  .illus:hover {
    opacity: 1;
    transform: scale(1.06);
  }
}

// 自我介紹

.aboutpage {
  min-height: 100vh;
}

.about {
  margin-top: 5vh;
}

@import "./scss/bootstrap.scss";
@import "./scss/_variables.scss";
