@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 100%;
  margin: 0px;
  height: 100vh;
  font-family: "Montserrat", "Noto Sans TC", sans-serif;
}

.frontpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
}

.frontpage .titles,
.frontpage h3,
.frontpage button {
  margin-left: 5vw;
}

.frontpage .titles {
  margin-top: 28vh;
  width: 10vw;
  color: #fff;
  background-color: #ec5200;
  border-radius: 0.5em;
}

.frontpage .titles h1 {
  font-size: 9em;
  line-height: 0.8em;
}

.frontpage video {
  z-index: -999;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.frontpage h3 {
  margin-top: 1vh;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  font-weight: 400;
  color: #fff;
}

.frontpage button {
  margin-top: 1vh;
  background-color: #ec5200;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  color: #fff;
  border: none;
  border-radius: 0.5em;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}

.frontpage button:hover {
  background-color: #fff;
  color: #000;
}

.frontpage button:active {
  background-color: #fff;
  color: #ec5200;
}

header {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: #ffffff;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul li a {
  color: #000;
  text-decoration: none;
  line-height: 2em;
  margin-left: 1em;
  font-weight: 500;
  font-size: 1.3em;
}

header nav ul li a:hover {
  color: #a8a8a8;
}

header nav ul li a:active {
  color: #fff;
  background-color: #000;
}

header .logo a {
  margin-left: 0.5em;
  font-weight: 900;
  font-size: 4em;
  color: #000;
  line-height: 0.75em;
  text-decoration: none;
}

header .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 1.5em;
}

header .contact img {
  height: 3vh;
  margin: 0 0.7em;
}

.picbed {
  margin-top: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  height: 100vh;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-x: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.picbed .item {
  max-height: 15vw;
  overflow: hidden;
}

.picbed .item img {
  max-height: 15vw;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0px auto;
  opacity: 0.75;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.picbed .item img:hover {
  opacity: 1;
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.info,
.left {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info {
  background-color: #fff;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.left {
  margin-left: 7vw;
  margin-top: 15vh;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 400;
  color: #000;
}

.left img {
  width: 20vw;
}

.left .about {
  width: 35vw;
  margin-left: 3em;
}

.left .about h1 {
  font-size: 3em;
  line-height: 1em;
}

.left .about h3 {
  font-size: 1.5rem;
  line-height: 2em;
}

.left .about p {
  font-size: 1.3rem;
  margin: 1rem 0rem;
}

.left .about hr {
  margin: 1rem 0rem;
  display: none;
}

@media screen and (min-width: 840px) {
  .info {
    height: 100vh;
  }
}

/* <1210px */
@media screen and (max-width: 1210px) {
  nav ul li a {
    font-size: 1.4em;
  }
  /* 大標 */
  .title {
    font-size: 3.5em;
  }
  /* 選單列的email */
  .contact {
    font-size: 0.9em;
  }
}

/* <1000px */
@media screen and (max-width: 1000px) {
  /* 大標 */
  .title {
    font-size: 3.4em;
  }
}

/* <840px(平板) */
@media screen and (max-width: 840px) {
  /* 大標 */
  .title {
    font-size: 3em;
  }
  /* 右邊圖˙ */
  .right {
    width: 10vw;
  }
  /* 作品縮圖 */
  .item {
    width: 40vw;
    height: 40vw;
  }
}

/* <550px(手機) */
@media screen and (max-width: 550px) {
  .all,
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav ul li a {
    font-size: 1.2em;
  }
  /* 大標 */
  .logo,
  .logo img {
    height: 20vh;
  }
  header {
    max-height: 35%;
  }
  /* 並排改上下 */
  .frontpage,
  .content,
  .info,
  .picbed,
  .left {
    width: 100%;
    min-height: 65%;
  }
  /* 作品縮圖 */
  .item {
    width: 50vw;
    height: 50vw;
  }
  /* 自我介紹 */
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .left {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin-left: 1em;
    padding-top: 2em;
    overflow: hidden;
    font-size: 1.1rem;
  }
  .right {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */